/* src/styles/login.module.css */

.loginPageContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.loginFormSection {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard {
    background-color: rgba(170, 248, 255, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 150%;
    color: #333;
    text-align: center;
    margin: auto;
}

/* --- Contenedor de login --- */

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.logoImage {
    width: 120%;
    height: 120%;
    object-fit: cover;
}

.helloText {
    font-size: 35px;
    font-weight: bold;
    color: #fe8a0f;
    margin-bottom: 5px;
    text-align: center;
}

.secondaryText {
    color: #5b136f;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.label {
    font-size: 20px;
    color: #5b136f;
    margin-bottom: 5px;
    text-align: left;
}

.input {
    padding: 10px;
    border: 1px solid #fe8a0f;
    border-radius: 5px;
    font-size: 16px;
}

.passwordInputContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.passwordInput {
    padding-right: 35px;
}

.passwordToggle {
    position: absolute;
    right: 5px;
    cursor: pointer;
    color: #fd4d01;
}

.loginButton {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}

.loginButton:hover {
    background-color: #0056b3;
}

.errorMessage {
    color: #ff4d4f;
    margin-top: 10px;
    font-size: 14px;
}


/* --- Media query para pantallas más pequeñas --- */
@media (max-width: 768px) {
    .background-video {
        display: none;
    }

    .loginPageContainer {
        background-image: url('/images/fondo_tomografia.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #5ce7f1;
    }

    .loginFormSection {
        padding: 20px;
        width: 100%;
        height: auto;
    }

    .loginCard {
        width: 90%;
        padding: 20px;
    }

    .logo {
        width: 100px;
        height: 100px;
    }

    .helloText {
        font-size: 25px;
    }

    .secondaryText {
        font-size: 20px;
    }
}